:root {
  --fraunces-font: "Fraunces", serif;
  --montserrat-font: "Montserrat", serif;

  --primary-dark-cyan: hsl(158, 36%, 37%);
  --primary-cream: hsl(30, 38%, 92%);
  
  --neutral-very-dark-blue: hsl(212, 21%, 14%);
  --neutral-dark-grayish-blue: hsl(228, 12%, 48%); 
  --neutral-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-cream);
}
p, span {
  color: var(--neutral-dark-grayish-blue);
}
p {
  font-family: var(--montserrat-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
}
h1 {
  font-family: var(--fraunces-font);
  font-weight: 700;
}

/* MAIN DESIGN */
main {
  display: inline-flex;
  border-radius: 12px;
  background-color: var(--neutral-white);
  box-shadow: 6px 6px 12px hsl(0, 0%, 0%, .03);
}

/* SECTION COL1 DESIGN */
.col1 {
  width: 100%;
  max-width: 300px;
}
.col1 img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px 0 0 12px;
}

/* SECTION COL2 DESIGN */
.col2 {
  width: 100%;
  max-width: 300px;
  padding: 30px;
}
.col2 .about {
  letter-spacing: 5px;
  font-size: 12px;
  font-weight: 500;
  font-family: var(--montserrat-font);
}
.col2 .perfume-name {
  font-size: 32px;
  margin-top: 18px;
  margin-bottom: 24px;
  color: var(--neutral-very-dark-blue);
}
.col2 .price-container {
  display: flex;
  align-items: center;
  gap: 16px;
}
.col2 .price {
  color: var(--primary-dark-cyan);
}
.col2 .price-container .discount {
  font-weight: 500;
  font-family: var(--montserrat-font);
  text-decoration: line-through;
}

/* BUTTON DESIGN */
button {
  width: 100%;
  font-weight: 700;
  font-family: var(--montserrat-font);
  background-color: var(--primary-dark-cyan);
  border: none;
  color: white;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

/* RESPONSIVENESS DESIGN */
@media screen and (min-width:426px) {
  button:hover {
    background-color: hsl(158, 36%, 27%);
  }
}

@media screen and (max-width:425px) {
  body {
    display: block;
    height: 100%;
    padding: 30px 20px;
  }

  /* MAIN MOBILE DESIGN */
  main {
    display: block;
    width: 100%;
  }

  /* SECTION COL1 MOBILE DESIGN */
  .col1 {
    max-width: 100%;
    max-height: 100%;
  }
  .col1 img {
    border-radius: 10px 10px 0 0;
    max-height: 350px;
  }

  /* SECTION COL2 MOBILE DESIGN */
  .col2 {
    max-width: 100%;
  }

  .active {
    background-color: hsl(158, 36%, 27%);
  }
}

@media screen and (max-width:375px) {
  .col1 img {
    border-radius: 10px 10px 0 0;
    max-height: 262px;
  }
  .col2 {
    padding: 20px;
  }
  .col2 .perfume-name {
    margin: 10px 0;
  }
  .col2 p {
    margin-bottom: 0;
  }
}
